<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.mapper.LabBorrowApplicationMapper">

    <resultMap id="BaseResultMap" type="com.lab.domain.LabBorrowApplication">
            <id property="lba_id" column="lba_id" jdbcType="INTEGER"/>
            <result property="student_id" column="student_id" jdbcType="INTEGER"/>
            <result property="year_semester_id" column="year_semester_id" jdbcType="INTEGER"/>
            <result property="apply_use_week" column="apply_use_week" jdbcType="INTEGER"/>
            <result property="lab_id" column="lab_id" jdbcType="INTEGER"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="apply_date" column="apply_date" jdbcType="DATE"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="weekday" column="weekday" jdbcType="INTEGER"/>
            <result property="slot" column="slot" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        lba_id,student_id,year_semester_id,
        apply_use_week,lab_id,reason,
        apply_date,status,weekday,
        slot
    </sql>
</mapper>
